<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header-fragment">
    <div class="header-container">
        <div class="logo">
            <a th:href="@{/user}">
                <img th:src="@{/images/logo.png}" alt="Rikkei Logo"/>
            </a>
        </div>
        <div class="link">
            <ul>
                <li><a th:href="@{/user}">List Course</a></li>
                <li><a th:href="@{/user/enrollments}">Enrollments</a></li>
                <li><a th:href="@{/user/profile}">Profile</a></li>
            </ul>
        </div>
        <div class="user-info">
             <span class="mail-icon">
                <i class="fa-solid fa-envelope"></i>
            </span>
            <span class="notification-icon">
                <i class="fa-solid fa-bell"></i>
            </span>
            <span class="profile-icon">
                <img th:src="@{/images/profile.png}" alt="Profile"/>
            </span>
            <span class="logout-link">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <a th:href="@{/logout}">Logout</a>
            </span>
        </div>
    </div>
</header>
</html>