<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/user/headerStyle.css}">
    <link rel="stylesheet" th:href="@{/css/user/profileStyle.css}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL@24,200,0&display=block" rel="stylesheet">
</head>
<body>
<header th:replace="~{user/component/header :: header-fragment}"></header>

<!--Success & Error-->
<div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
<div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

<main class="main-content">
    <h1 class="page-title">My Profile</h1>

    <div class="info-form">
        <h3 class="form-title">Change Information</h3>
        <form th:action="@{/user/profile/changePassword}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="old-password">Old Password <span class="required">*</span></label>
                <input type="text" id="old-password" th:field="*{oldPassword}">
            </div>
            <div th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="error-message"></div>

            <div class="form-group">
                <label for="new-password">New Password <span class="required">*</span></label>
                <input type="text" id="new-password" th:field="*{newPassword}">
            </div>
            <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="error-message"></div>

            <div class="form-group">
                <label for="confirm-password">Confirm New Password <span class="required">*</span></label>
                <input type="text" id="confirm-password" th:field="*{confirmPassword}">
            </div>
            <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                 class="error-message"></div>

            <button type="submit" class="btn">Save</button>
        </form>
    </div>

</main>
</body>
</html>