<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/user/headerStyle.css}">
    <link rel="stylesheet" th:href="@{/css/user/historyStyle.css}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL@24,200,0&display=block" rel="stylesheet">
</head>
<body>
<header th:replace="~{user/component/header :: header-fragment}"></header>

<!--Success & Error-->
<div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
<div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

<main class="main-content">
    <h1 class="page-title">History Enrollment</h1>

    <div class="search-container">
        <form th:action="@{/user}" method="get">
            <select name="sortParam" id="sort">
                <option value="status_asc" th:selected="${sort == 'status_asc'}">
                    Sort By Status ASC
                </option>
                <option value="status_desc" th:selected="${sort == 'status_desc'}">
                    Sort By Status DESC
                </option>
            </select>
            <input type="text" class="search-input" name="keyword" placeholder="search enrollment by name"
                   th:value="${keyword}">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>

    <div class="enrollment-table-container">
        <table class="enrollment-table">
            <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Duration (Hour)</th>
                <th>Instructor</th>
                <th>Image</th>
                <th>Created Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="courseEnrollment : ${courseEnrollments}">
                <td th:text="${courseEnrollment.course.id}"></td>
                <td th:text="${courseEnrollment.course.name}"></td>
                <td th:text="${courseEnrollment.course.duration}"></td>
                <td th:text="${courseEnrollment.course.instructor}"></td>
                <td>
                    <img th:src="${courseEnrollment.course.image}" width="60" height="60" th:alt="${courseEnrollment.course.name}">
                </td>
                <td th:text="${#temporals.format(courseEnrollment.course.createAt, 'dd/MM/yyyy')}"></td>
                <td th:text="${courseEnrollment.enrollment.status}"></td>
                <td class="action-buttons">
                    <a class="btn-cancel"
                       th:href="@{/user/cancelEnrollment/{id}(id=${courseEnrollment.course.id})}"
                       onclick="return confirm('Bạn có chắc chắn muốn hủy khóa học này?')"
                    >Cancel</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <a th:if="${currentPage > 0}"
           th:href="@{/user(page=${currentPage - 1}, size=${pageSize}, keyword=${keyword})}"
           class="arrow">&larr;</a>

        <a th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
           th:href="@{/user(page=${i}, size=${pageSize}, keyword=${keyword})}"
           th:text="${i+1}"
           th:classappend="${i == currentPage} ? 'active pag-btn' : 'pag-btn'">
        </a>

        <a th:if="${currentPage < totalPages - 1}"
           th:href="@{/user(page=${currentPage + 1}, size=${pageSize}, keyword=${keyword})}"
           class="arrow">&rarr;</a>
    </div>
</main>
</body>
</html>