<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/user/headerStyle.css}">
    <link rel="stylesheet" th:href="@{/css/user/homeStyle.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
</head>
<body>
<header th:replace="~{user/component/header :: header-fragment}"></header>

<main class="main-content">
    <h1 class="page-title">List Course</h1>

    <div class="search-container">
        <form th:action="@{/user}" method="get">
            <input type="text" class="search-input" name="keyword" placeholder="search courses by name"
                   th:value="${keyword}">

            <button type="submit" class="search-button">Search</button>
        </form>
    </div>

    <div class="course-list">
        <div class="course-card" th:each="courseDTO : ${courses}">
            <div class="course-thumbnail">
                <img th:src="@{${courseDTO.getCourse().image}}" th:alt="*{courseDTO.getCourse().name}"/>
            </div>
            <div class="course-info">
                <h3 th:text="${courseDTO.getCourse().name}"></h3>
                <p class="explore-link">Let's explore</p>
                <div class="course-details">
                    <p><strong>Duration:</strong> <span th:text="${courseDTO.getCourse().duration}"></span> hour</p>
                    <p><strong>Instructor:</strong> <span th:text="${courseDTO.getCourse().instructor}"></span></p>
                </div>
            </div>
            <div class="course-actions">
                <a th:href="@{/user/register(courseId=${courseDTO.course.id})}"
                   th:if="${!courseDTO.registered}" class="btn-registry"
                   onclick="return confirm('Bạn có chắc chắn muốn đăng ký khóa học này không?')"
                >Registry</a>
                <span th:if="${courseDTO.registered}" class="btn-registered">Registered</span>
            </div>
        </div>
    </div>
    <div class="pagination">
        <a th:if="${currentPage > 0}"
           th:href="@{/user(page=${currentPage - 1}, size=${pageSize}, keyword=${keyword})}"
           class="arrow">&larr;</a>

        <a th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
           th:href="@{/user(page=${i}, size=${pageSize}, keyword=${keyword})}"
           th:text="${i+1}"
           th:classappend="${i == currentPage} ? 'active pag-btn' : 'pag-btn'">
        </a>

        <a th:if="${currentPage < totalPages - 1}"
           th:href="@{/user(page=${currentPage + 1}, size=${pageSize}, keyword=${keyword})}"
           class="arrow">&rarr;</a>
    </div>
</main>
</body>
</html>