header {
    background-color: var(--card-background);
    box-shadow: var(--shadow);
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--border-color);
    height: 80px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
    margin-left: 30px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.user-info i {
    font-size: 1rem;
    cursor: pointer;
    color: #2563eb;
}

.user-info img {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border-radius: 999px;
}

.user-info a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    transition: background-color 0.2s;
}

.user-info a:hover {
    color: #ff6347;
}

.logout-link{
    display: flex;
    gap: 5px;
}