aside {
    width: 250px;
    background-color: var(--card-background);
    padding: 1rem 0;
    border-right: 1px solid var(--border-color);
    box-shadow: var(--shadow);
}

.sidebar-nav ul {
    list-style: none;
}

.nav-item {
    margin-bottom: 0.5rem;
}

.nav-item a {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    color: var(--text-color);
    text-decoration: none;
    transition: background-color 0.2s;
}

.nav-item a:hover,
.nav-item a.active {
    background-color: var(--background-color);
    border-right: 3px solid var(--primary-color);
}

.nav-item i {
    font-size: 1rem;
    margin-right: 1rem;
    color: var(--background-color-btn);
    transform: translateY(-2px);
}