<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header-fragment">
    <div class="header-container">
        <div class="logo">
            <a th:href="@{/admin}">
                <img th:src="@{/images/logo.png}" alt="Rikkei Logo"/>
            </a>
        </div>
        <div class="user-info">
             <div class="mail-icon">
                <span class="material-symbols-outlined">mail</span>
            </div>
            <div class="notification-icon">
                <span class="material-symbols-outlined">notifications</span>
            </div>
            <div class="profile-icon">
                <img th:src="@{/images/profile.png}" alt="Profile"/>
            </div>
            <div class="logout-link">
                <a th:href="@{/logout}">
                    <span class="material-symbols-outlined">logout</span>
                    Logout
                </a>
            </div>
        </div>
    </div>
</header>
</html>