<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar-fragment">
    <nav class="sidebar-nav">
        <ul>
            <li class="nav-item">
                <a th:href="@{/admin/dashboard}">
                    <i class="fa-solid fa-house"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/admin/users}">
                    <i class="fa-solid fa-user-group"></i>
                    Students
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/admin/courses}">
                    <i class="fa-solid fa-book-open"></i>
                    Courses
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/admin/enrollments}">
                    <i class="fa-solid fa-user-plus"></i>
                    Enrollments
                </a>
            </li>
        </ul>
    </nav>
</aside>
</html>