<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/auth/loginStyle.css}">
    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="image-wrapper">
        <img th:src="@{/images/register-background.png}" alt="background">
    </div>

    <div class="right-panel">
        <div class="text-overlay">
            <h1 class="join-us-heading">Join us today <span class="hand-emoji">👋</span></h1>
            <p class="description-text">Clarity gives you the blocks and components you need to create a truly
                professional website.</p>
        </div>

        <div class="login-form-container">
            <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
            <h2 class="login-heading">Sign in</h2>
            <form th:action="@{/login}" th:object="${login}" method="post">
                <div class="form-group">
                    <input type="email" id="email" th:field="*{email}" placeholder="Email">
                </div>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></div>

                <div class="form-group">
                    <input type="password" id="password" th:field="*{password}" placeholder="Password">
                </div>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></div>

                <div class="register-link">
                    Don't have an account, <a th:href="@{/register}">register</a>
                </div>
                <button type="submit" class="login-btn">Login</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>