<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/auth/registerStyle.css}">
    <title>Register</title>
</head>
<body>
<!--Success & Error-->
<div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
<div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

<div class="container">
    <div class="image-wrapper">
        <img th:src="@{/images/register-background.png}" alt="background">
    </div>

    <div class="text-overlay">
        <h1 class="join-us-heading">Join us today <span class="hand-emoji">👋</span></h1>
        <p class="description-text">Clarity gives you the blocks and components you need to create a truly
            professional website.</p>
    </div>

    <div class="signup-form-container">
        <h2 class="signup-heading">Sign up</h2>
        <form th:action="@{/register}" th:object="${user}" method="post">
            <div class="form-group">
                <input type="text" id="name" th:field="*{name}" placeholder="Full Name">
            </div>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></div>

            <div class="form-group">
                <input type="date" id="dob" th:field="*{dob}">
            </div>
            <div th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}" class="error-message"></div>

            <div class="form-group">
                <input type="email" id="email" th:field="*{email}" placeholder="Email">
            </div>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></div>

            <div class="form-group">
                <select id="gender" th:field="*{sex}">
                    <option value="" th:selected>-- Chọn --</option>
                    <option value="true">Male</option>
                    <option value="false">Female</option>
                </select>
            </div>
            <div th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}" class="error-message"></div>

            <div class="form-group">
                <input type="tel" id="phone" th:field="*{phone}" placeholder="Phone">
            </div>
            <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error-message"></div>

            <div class="form-group">
                <input type="password" id="password" th:field="*{password}" placeholder="Password">
            </div>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></div>

            <div class="login-link">
                Already have an account, <a th:href="@{/login}">login</a>
            </div>
            <button type="submit" class="register-btn">Register</button>
        </form>
    </div>
</div>
</body>
</html>